@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import './reset.css';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

